<%content_for :title do "Catalogo Produtos especiais" end %>
<%content_for :head do%>
<%=stylesheet_link_tag "catalogo_produtos_especiais"%>
<%end%>
<div class="intro_content">
            <div class="sec_text_field_1">
                <span class="text_1_second_1">Especiais</span><br><br>
                <p class="text_2_second_1">
                   Produzidos especialmente para facilitar sua obra, os pilares de concreto são peças com encaixe que devem ser posicionadas umas sobre as outras, formando a estrutura do pilar. 
                    </p>
            
            </div>   
            <p class="text_paragraph_2">
                                O passo seguinte necessita apenas que o concreto seja despejado, otimizando todo o processo na obra.
            </p> 
            <br><br> 
            <%=image_tag("img_produtos_especiais.png", :width => "578", :height => "207")%> 
                                          
      </div>
      <!--#intro_content-->
      </div>