<%content_for :title do "Contato" end %>
<%content_for :head do%>
<%=stylesheet_link_tag "contato"%>
<%=javascript_include_tag "jquery.validate.min"%>
<%=javascript_include_tag "meusmetodos"%>
<%=javascript_include_tag "jquery.meio.mask"%>
<%end%>
<div class="intro_content">
            <div class="sec_text_field_1">
                <span class="text_1_second_1">Obrigado por entrar em contato</span><br><br>
                <p class="text_2_second_1">
                   Ficamos agradecidos por seu interesse! 
                </p>
            
            </div>          
        <div class="contato_box">
                    <div class="contato_left">
                    <div style="width:300px;">&nbsp;</div>
            </div>
            <div class="contato_right">
                
            </div>                         
        </div>
        </div>
        </div>
