<%content_for :title do "Empresa" end %>
<%content_for :head do%>
<%=stylesheet_link_tag "empresa"%>
<% end %>
<div class="intro_content">
            <div class="sec_text_field_1">
                <span class="text_1_second_1">Sobre a Empresa</span><br><br>
                <p class="text_2_second_1">
                   No mercado desde julho de 2007, a&nbsp;Pavertech&nbsp;nasce da combinação de vários anos de experiência de seus fundadores com produtos e serviços para o mercado de construção civil. 
                </p>
            
            </div>
            <p class="text_paragraph">
                A&nbsp;Pavertech&nbsp;tem uma gestão moderna e participativa, na qual todos têm o compromisso<br><br> 
                de prover soluções completas, e a certeza da satisfação de seus clientes. <br><br>
                Os produtos&nbsp;Pavertech atendem às normas da ABNT, garantindo qualidade e excelência<br><br>
                para sua obra.
                Localizada estrategicamente na cidade de Atibaia, tem posição privilegiada, com acesso<br><br>
                rápido às Rodovias Fernão Dias e Dom Pedro I. A Pavertech está a apenas 60 km das<br><br>
                cidades da grande São Paulo, além de possuir acesso facilitado a Campinas, Vale do<br><br>
                Paraíba e Sul de Minas Gerais.<br><br>
                É com trabalho árduo e total dedicação que a Pavertech carrega como premissas a<br><br>
                satisfação total e a fidelização de seus clientes.
            </p>
            <%=image_tag("mascot_empresa.png", :width => "457", :height => "493", :class => "mascote_empresa_align")%>
        </div>
        </div>
        