<%content_for :title do "Catalogo Blocos de Concreto" end %>
<%content_for :head do%>
<%=stylesheet_link_tag "catalogo_blocos_de_concreto"%>
<%end%>
<div class="intro_content">
            <div class="sec_text_field_1">
                <span class="text_1_second_1">BLOCOS DE CONCRETO</span><br><br>
                <p class="text_2_second_1">
                   A utilização dos blocos Pavertech torna as obras mais eficientes, com a maior produtividade e reduz as perdas, tanto de blocos como de argamassa. Essas peças são ideais para projetos residenciais, industriais e comerciais, podendo ser revestidos de forma aparente, proporcionando resultados esteticamente modernos. 
                        </p>
            
            </div>   

            <br><br> 
                <span class="tit_paragraph_2">Linha Estrutural</span><br><br> 
                <span class="text_paragraph_2">
                                A alvenaria de blocos de concreto estrutural possibilita obras racionais e econômicas, eliminando pilares, vigas e formas. Isso permite que as obras sejam mais rápidas, organizadas e que tenham seus índices de desperdícios minimizados.
        </span><br><br><br>
        <%=image_tag("img_blocos_linha_estrutural.png", :width => "929", :height => "500")%>  
        <br><br><br>         
        <span class="tit_paragraph_2">Linha Vedação</span><br><br> 
        <span class="text_paragraph_2">
            Os blocos de vedação permitem obras rápidas, redução das perdas e economia de argamassa, além de proporcionar ótima estética e funcionalidade.
        </span><br><br><br>
        <%=image_tag("img_blocos_linha_vedacao.png", :width => "927", :height => "414")%>                                   
      </div>
      <!--#intro_content-->
      </div>